
<%= form_with(model: @article, local: true) do |form| %>
  <p>
    <%= form.label :title %><br/>
    <%= form.text_field :title %>
    <% @article.errors.full_messages_for(:title).each do |message|%>
      <%= message %>
    <% end %>
  </p>

  <p>
    <%= form.label :description %><br/>
    <%= form.text_area :description %>
    <% @article.errors.full_messages_for(:description).each do |message|%>
      <%= message %>
    <% end %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
