<h2>Show article</h2>

<p><strong><%= @article.title %></strong></p>
<p><%= @article.description %></p>

<%= link_to "Edit article", edit_article_path(@article) %> |

<%= link_to "Delete", article_path(@article), data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure?"
} %> |

<%= link_to "Articles", articles_path %>
